@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(246, 164, 223);
}
h1 {
  font-family: "Engagement", cursive;
  padding-top: 80px;
}
#header {
  text-align: center;
  margin: 40px;
}

.below {
  padding: 20px;
}

h2 {
  color: rgb(135, 237, 137);
}

hr {
  width: 50%;
  border: 0.5px solid rgb(210, 84, 103);
}

img {
  width: 30px;
  height: auto;
  border-radius: 10%;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carousel-item {
  height: 400px;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
}
.img-call {
  width: 300px;
  height: auto;
}
body {
  font-size: 22px;
  line-height: 1.5;
  color: #fffcfc;
}
.navbar.navbar-expand-lg.bg-body-tertiary {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1020;
}
