@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(247, 171, 226);
}
h1 {
  font-family: "Engagement", cursive;
  padding-top: 50px;
}
#header {
  text-align: center;
  margin: 40px;
}
#wellweb {
  color: rgb(247, 243, 243);
  font-size: 50px;
}
h2 {
  color: rgb(255, 252, 254);
}

hr {
  width: 50%;
  border: 0.5px solid rgb(245, 240, 241);
}

img {
  width: 30px;
  height: auto;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  font-size: 22px;
  line-height: 1.5;
  color: #fffcfc;
}

.container {
  padding: 20px;
}

.below {
  padding: 50px;
}
.card-body {
  cursor: pointer;
}
.card.h-100 {
  background-color: rgb(245, 208, 234);
  color: slategray;
  transition:
    transform 0.3 ease,
    box-shadow 0.3 ease;
}

.card.h-100:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 3rem black;
}
.navbar.navbar-expand-lg.bg-body-tertiary {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1020;
}
